* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--gray-300);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: darken(#eba417, 20%);
  }
  ::-webkit-scrollbar-thumb:active {
    background: darken(#eba417, 30%);
  }
  ::-webkit-scrollbar-track {
    background: var(--gray-800);
  }
}

:root {
  --white: #FFF;
  
  --gray-100: #E1E1E6;
  --gray-300: #A8A8B3;
  --gray-700: #323238;
  --gray-800: #29292E;
  --gray-850: #1F2729;
  --gray-900: #121214;

  --cyan-500: #61DAFB;
  --yellow-500: #EBA417;
  --green-500: #04D361;
}

@media(max-width: 1000px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body {
  background: var(--gray-900);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}